@import "./__text/nothing__text.css";
@import "./__heading/nothing__heading.css";

.nothing {
  display: flex;
  flex-flow: column;
  width: 100vw;
  align-items: center;
  margin: auto;
  padding: 40px 0 40px;
  background-color: var(--clr-light-gray);
}



