@import "./commons.css";

@import "./Blocks/card-list/card-list.css";



.header {
  border-color:rgba(0, 0, 0, .2);
}

  .header__menu-item :hover {
    color: var(--clr-black);
  }


  .you-asked {
    padding-top: 120px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 712px;
    transition: all ease-in-out .2s;
  }

  .breadcrumbs {
    margin-bottom: 80px;
  }
  
    .breadcrumbs__prev {
      text-decoration: none;
      font-size: 18px;
      line-height: 24px;
      color: var(--clr-black);
    }

    .breadcrumbs__present {
      color: var(--clr-gray);
    }



  .you-asked__heading {
    margin: 0;
  }

  .you-asked__stats {
    margin: 24px 0 0;
  }

  .you-asked__stats-item {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
  }

    .you-asked__number {
      font-weight: bold;
    }

  .you-asked__stats-item + .you-asked__stats-item {
    margin-top: 4px;
  }




.analytics {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--clr-light-gray);
}

  .analytics__heading {
    margin: 0;
    font-size: 26px;
    line-height: 30px;
  }



  .graph {
    margin-top: 48px;
    display: grid;
    grid-template-columns: 104px 1fr;
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: row;
  }

    .graph__headings {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 104px 1fr;
      font-size: 12px;
      line-height: 16px;  
      letter-spacing: 0.4px;
      text-transform: uppercase;
      border-bottom: 1px solid var(--clr-black);
      margin: 0 0 16px;
      padding-bottom: 24px;
      color:var(--clr-gray);
    }

    .graph__heading {
      margin: 0;
    }
    
    
    .graph__x-axis {
      grid-column: 2/3;
      display: flex;
      justify-content: space-between;
    }

      .graph__axis-label {
        font-size: 12px;
        line-height: 16px;
        height: 20px;
        text-align: center;
        letter-spacing: 0.4px;
        color: var(--clr-gray);
        text-transform: uppercase;
      }
    

    .graph__rows {
      grid-column: 1/3;
      display: grid;
      grid-template-columns: 104px 1fr;
      grid-row-gap: 56px;
      margin: 8px 0 16px;
    }
    
      .graph__row {
        grid-column: 1/3;
        display: grid;
        grid-template-columns: 104px 1fr;
      }


      .graph__date {
        font-size: 18px;
      }

      .graph__line {
        height: 24px;
        background-color: var(--clr-blue);
      }

      .graph__row:nth-of-type(1) .graph__line {
        width: 15%;
      }
      .graph__row:nth-of-type(2) .graph__line {
        width: 18%;
      }
      .graph__row:nth-of-type(3) .graph__line {
        width: 73%;
      }
      .graph__row:nth-of-type(4) .graph__line {
        width: 39%;
      }

        .graph__value {
          margin-left: 8px;
          height: 24px;
          font-size: 12px;
          line-height: 24px;
          font-weight: bold;
          vertical-align: middle;
          letter-spacing: 0.4px;
          text-transform: uppercase;
          color: var(--clr-white);
        }


@media screen and (max-width: 1440px) {
  .you-asked {
    grid-template-columns: 100%;
    padding-top: 96px;
    padding-bottom: 40px;
  }

  .analytics {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .you-asked {
    grid-template-columns: 100%;
    padding-top: 72px;
    padding-bottom: 24px;
  }
  .breadcrumbs, .graph__x-axis {
    display: none;
  }

  .graph__headings {
    padding-bottom: 8px;
  }

  .graph__rows {
    margin-bottom: 0;
  }

  .analytics {
    padding-top: 40px;
    padding-bottom: 32px;
  }
}