@import "../vendor/fonts/fonts.css";

@import "./header.css";

@import "./footer.css";





:root {
  /* Colors */
  --clr-white: #fff;
  --clr-black: #1A1B22;
  --clr-gray: #B6BCBF;
  --clr-light-gray: #F5F6F7;
  --clr-blue: #2F71E5;
  --clr-blue-hover: #347EFF;
  --clr-blue-active: #2A65CC;
}

.root__section {
  padding: 0 calc((100% - 1232px)/2);
  margin: auto;
}



body {
  position: relative;
  color: var(--clr-black);
  background-color: var(--clr-white);
  font-family: Roboto;
  font-size: 1rem;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

h1 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 64px;
}

h2 {
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 46px;
}

h3 {
font-family: Roboto Slab;
font-style: normal;
font-weight: normal;
font-size: 26px;
line-height: 30px;
}

.text {
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 24px;
}

.button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  height: 64px;
  text-align: center;
  background-color: var(--clr-blue);
  border: none;
  border-radius: 32px;
  color: var(--clr-white);
  cursor: pointer;
  transition: all .2s;
  outline: none;
}

.button:hover {
  background-color: var(--clr-blue-hover);
}

.button:active {
  background-color: var(--clr-blue-active);
}

.heading {
font-family: Roboto Slab;
}

.text {
font-family: Roboto;
font-size: 16px;
line-height: 22px;
}



  .card-list {
    background-color: var(--clr-light-gray);
    padding-top: 80px;
    padding-bottom: 80px;
  }
  
  .cards {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 64px;
  }
  
    .cards__topline {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
      .cards__heading {
        font-size: 40px;
        line-height: 46px;
        margin: 0;
      }
  
      .cards__topline-link {
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        text-decoration: none;
        color: var(--clr-black);
      }
  
        .cards__topline-arrow {
          position: relative;
          top: 7px;
          transition: all ease-in-out .15s;
        }
  
        .cards__topline-link:hover .cards__topline-arrow {
          transform: translateX(4px);
        }
  