

/* Стилизация футера */

.footer {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

  .footer__copyright {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    color: var(--clr-gray);
  }

  .footer__menu {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 44px;
  }

    .footer__menu-link {
      font-size: 18px;
      line-height: 24px;
      text-decoration: none;
      color: var(--clr-black);
    }

  .footer__socials {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 24px;
    list-style: none;
  }