@import "./__logo/header__logo.css";
@import "./__menu/header__menu.css";
@import "./__menu-item/header__menu-item.css";
@import "./__menu-link/header__menu-link.css";

.header {
  position: absolute;
  top: 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  height: 80px;
  align-items: center;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1440px) {
  .header {
    height: 64px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 56px;
  }
}


